<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.hamondev.shevery" />
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@android:drawable/ic_secure"
        android:allowBackup="false"
        android:theme="@android:style/Theme.DeviceDefault.Dialog.Alert">
        <activity
            android:name=".ForwardActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:priority="1000">
                <action android:name="moe.shizuku.manager.intent.action.REQUEST_PERMISSION" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".ForwardReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>